# Slicing

In [2]:
a=[22,33,11,44,77,88,99]
a[1:4]

[33, 11, 44]

In [3]:
a[1:5:2] #[start : end-1 : step]

[33, 44]

# Tupples
### Tupples are immutable (aik dafa ban gaya to change nhi ho sakta)

In [9]:
t=("hamza","osama",121) #packing

In [10]:
type(t)

tuple

In [11]:
t[1]

'osama'

In [12]:
t[1]="moiz"

TypeError: 'tuple' object does not support item assignment

In [13]:
a,b,c = t #Unpacking

In [14]:
a

'hamza'

In [15]:
b

'osama'

In [16]:
c

121

In [17]:
t

('hamza', 'osama', 121)

In [18]:
s=t+t

In [19]:
s

('hamza', 'osama', 121, 'hamza', 'osama', 121)

In [20]:
q= t+s[2:4]

In [21]:
q

('hamza', 'osama', 121, 121, 'hamza')

# Loops
### for loop
### while loop

In [22]:
students=["oasam","hamza","moiz","taha"]

In [23]:
for student in students:
    print(student)

oasam
hamza
moiz
taha

In [25]:
for i in range(10): # range( starts : end : step )
    print(i)

0
1
2
3
4
5
6
7
8
9

In [26]:
for i in range(2,10):
    print(i)

2
3
4
5
6
7
8
9

In [27]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [29]:
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [36]:
a=int(input("enter no: "))
for i in range(1,11):
    if i==7:
        break
    print(f"{a} * {i} = {a*i}")

enter no: 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30

In [37]:
first_names=["Blueray","Upchuk","Lojack","Gizmo","Do-Rag"]
last_names=["Zzz","Burp","Dogbone","Broop"]
full_names=[]

for a_first_name in first_names:
    for a_last_name in last_names:
        full_names.append(a_first_name + " " + a_last_name)
full_names

['Blueray Zzz',
 'Blueray Burp',
 'Blueray Dogbone',
 'Blueray Broop',
 'Upchuk Zzz',
 'Upchuk Burp',
 'Upchuk Dogbone',
 'Upchuk Broop',
 'Lojack Zzz',
 'Lojack Burp',
 'Lojack Dogbone',
 'Lojack Broop',
 'Gizmo Zzz',
 'Gizmo Burp',
 'Gizmo Dogbone',
 'Gizmo Broop',
 'Do-Rag Zzz',
 'Do-Rag Burp',
 'Do-Rag Dogbone',
 'Do-Rag Broop']

In [40]:
for i in range(1,11):
    for j in range(1,11):
        print(f"{i} * {j} = {i*j}")
    print("========================")

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
========================
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
========================
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
========================
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
========================
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
========================
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
========================
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
========================
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
========================
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
========================
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100
========================