In [1]:
print("hamza")

hamza

In [2]:
print('G')

G

In [3]:
type('h')

str

In [4]:
type('askk')

str

In [5]:
print('hsha\' jas')

hsha' jas

In [6]:
print("hi",121,0.00)

hi 121 0.0

In [7]:
print(122,33,"ah",sep='--')

122--33--ah

In [8]:
print(str(100) + "rs")

100rs

In [10]:
print(int("9"))

9

In [11]:
# kkjj

In [12]:
for i in range (1,10,1)
    print("osama")

SyntaxError: invalid syntax (<ipython-input-12-0a8bfa5ac32f>, line 1)

In [13]:
i=1
for i in range (1,10,1)
    print("osama")

SyntaxError: invalid syntax (<ipython-input-13-72765883d545>, line 2)

In [1]:
name="osama"
age="10"
print (name +" mandi wala "+ str(age))

osama mandi wala 10

In [2]:
print ("name={0}\nage={1}".format(name,age))

name=osama
age=10

In [3]:
print (f"name={name} age={age}")

name=osama age=10

In [22]:
print("heloo"*5)

heloohelooheloohelooheloo

In [25]:
print(2*"helo"*2)

helohelohelohelo

In [33]:
a=10
b=3
d=a//b
c=a/b
print(round(c,4))
print(d)

3.3333
3

In [1]:
a=2
b=10
print(b//a)

5

In [2]:
a++
print(a)

SyntaxError: invalid syntax (<ipython-input-2-555e2e94e2bb>, line 1)

In [3]:
a+=2
print(a)

4

In [4]:
a/=2

In [5]:
print(a)

2.0

In [6]:
12*2/4-1

5.0

In [9]:
age = input("Enter # ")
print(age)

Enter # 8
8

In [16]:
print ("name={} age={}".format(name,age))

name=osama age=10

In [20]:
a=10
b=20
if a<b:
    print("true")
print("false")

true
false

In [5]:
inp=int(input())
if inp%2==0:
    print("even")
else:
    print("odd")

ii9
odd

In [5]:
user_cnic = input("do you have cnic?").lower()
if user_cnic=='yes':
    print("valid cnic")
    voter_list=input("is your name in the list").lower()
    if voter_list=='yes':
        print("registered voter!!")
    else:
        print("cant vote")
else:
    print("cant vote")

do you have cnic?YES
valid cnic
is your name in the listH
cant vote

In [7]:
a=input("ticket hai?").lower()
if a=="han":
    b=int(input("age kia hai?"))
    if b>=18:
        print("ok!!")
    else:
        print("kato")
else:
    print("kato")

ticket hai?han
age kia hai?9
kato

In [14]:
for x in range(1,10,1):
    for y in range(1,10,1):
        print("*",end="")
    print("\n")

*********

*********

*********

*********

*********

*********

*********

*********

*********

In [3]:
students=["hamza","osama","moiz","taha"]
len(students)

4

In [5]:
students[2]

'moiz'

In [15]:
alist=["string",2,2.00,True]

In [16]:
del alist[3]

In [17]:
alist

['string', 2, 2.0]

In [18]:
alist.append(100)

In [19]:
alist

['string', 2, 2.0, 100]

In [20]:
alist.insert(2,"abc")
alist

['string', 2, 'abc', 2.0, 100]

In [21]:
alist.insert(7,"a")

In [22]:
alist

['string', 2, 'abc', 2.0, 100, 'a']

In [23]:
alist.remove('abc')
alist

['string', 2, 2.0, 100, 'a']

In [24]:
'''alist.append(x)
#Add an item to the end of the list. Equivalent to a[len(a):] = [x].

alist.extend(iterable)
#Extend the list by appending all the items from the iterable. Equivalent to a[len(a):] = iterable.

alist.insert(i, x)
#Insert an item at a given position. The first argument is the index of the element before which to insert, so a.insert(0, x) inserts at the front of the list, and a.insert(len(a), x) is equivalent to a.append(x).

alist.remove(x)
#Remove the first item from the list whose value is equal to x. It raises a ValueError if there is no such item.

alist.pop([i])
#Remove the item at the given position in the list, and return it. If no index is specified, a.pop() removes and returns the last item in the list. (The square brackets around the i in the method signature denote that the parameter is optional, not that you should type square brackets at that position. You will see this notation frequently in the Python Library Reference.)

alist.clear()
#Remove all items from the list. Equivalent to del a[:].

alist.index(x[, start[, end]])
#Return zero-based index in the list of the first item whose value is equal to x. Raises a ValueError if there is no such item.

#The optional arguments start and end are interpreted as in the slice notation and are used to limit the search to a particular subsequence of the list. The returned index is computed relative to the beginning of the full sequence rather than the start argument.

alist.count(x)
#Return the number of times x appears in the list.

alist.sort(key=None, reverse=False)
#Sort the items of the list in place (the arguments can be used for sort customization, see sorted() for their explanation).

alist.reverse()
#Reverse the elements of the list in place.

alist.copy()
#Return a shallow copy of the list. Equivalent to a[:]'''

'alist.append(x)\n#Add an item to the end of the list. Equivalent to a[len(a):] = [x].\n\nalist.extend(iterable)\n#Extend the list by appending all the items from the iterable. Equivalent to a[len(a):] = iterable.\n\nalist.insert(i, x)\n#Insert an item at a given position. The first argument is the index of the element before which to insert, so a.insert(0, x) inserts at the front of the list, and a.insert(len(a), x) is equivalent to a.append(x).\n\nalist.remove(x)\n#Remove the first item from the list whose value is equal to x. It raises a ValueError if there is no such item.\n\nalist.pop([i])\n#Remove the item at the given position in the list, and return it. If no index is specified, a.pop() removes and returns the last item in the list. (The square brackets around the i in the method signature denote that the parameter is optional, not that you should type square brackets at that position. You will see this notation frequently in the Python Library Reference.)\n\nalist.clear()\n#Remove all items from the list. Equivalent to del a[:].\n\nalist.index(x[, start[, end]])\n#Return zero-based index in the list of the first item whose value is equal to x. Raises a ValueError if there is no such item.\n\n#The optional arguments start and end are interpreted as in the slice notation and are used to limit the search to a particular subsequence of the list. The returned index is computed relative to the beginning of the full sequence rather than the start argument.\n\nalist.count(x)\n#Return the number of times x appears in the list.\n\nalist.sort(key=None, reverse=False)\n#Sort the items of the list in place (the arguments can be used for sort customization, see sorted() for their explanation).\n\nalist.reverse()\n#Reverse the elements of the list in place.\n\nalist.copy()\n#Return a shallow copy of the list. Equivalent to a[:]'

In [25]:
list1=[1,2,3,62,4,5,2,1,3,5,5,3,3,4]
list1.sort()

In [26]:
list1

[1, 1, 2, 2, 3, 3, 3, 3, 4, 4, 5, 5, 5, 62]

In [29]:
list2=list1.copy() # pass by value

list3=list1[:] # pass by value

In [30]:
list2

[1, 1, 2, 2, 3, 3, 3, 3, 4, 4, 5, 5, 5, 62]

In [31]:
list3

[1, 1, 2, 2, 3, 3, 3, 3, 4, 4, 5, 5, 5, 62]

In [32]:
list4=list3 # pass by reference
list4

[1, 1, 2, 2, 3, 3, 3, 3, 4, 4, 5, 5, 5, 62]

In [33]:
list3.sort(reverse=True)
list3

[62, 5, 5, 5, 4, 4, 3, 3, 3, 3, 2, 2, 1, 1]

In [34]:
list4

[62, 5, 5, 5, 4, 4, 3, 3, 3, 3, 2, 2, 1, 1]

In [36]:
a=[1,2,3,alist]

In [37]:
a

[1, 2, 3, ['string', 2, 2.0, 100, 'a']]

In [38]:
a[3][4]

'a'

In [39]:
list4[2:7]

[5, 5, 4, 4, 3]

In [40]:
a[3].remove(2.0)

In [41]:
a

[1, 2, 3, ['string', 2.0, 100, 'a']]

In [42]:
a[3].remove('a')

In [43]:
a

[1, 2, 3, ['string', 2.0, 100]]

In [44]:
a[3].insert(3,"hamza")

In [45]:
a

[1, 2, 3, ['string', 2.0, 100, 'hamza']]

In [46]:
a[3].remove(2.0)

In [47]:
a

[1, 2, 3, ['string', 100, 'hamza']]

In [48]:
a[-3] # reverse indexing

2

In [49]:
a[-2:-4] # slicing always left to right

[]

In [50]:
a[-4:-2]

[1, 2]

In [51]:
poppedlist=[]

In [56]:
poppedlist.append(list4.pop())
poppedlist

[1, 1, 2, 2, 3]

# Slicing